@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- Light & Dark Theme Color Variables ---------- */
@layer base {
  :root {
  --accent-dark: #733AD1;
  --accent-mid: #8443E5;
  --primary: #9C5EF1;

  --neutral-dark: #101828;
  --neutral-light: #F9FAFB;

  --background: var(--neutral-light);
  --foreground: var(--neutral-dark);
}
  .dark {
  --background: var(--neutral-dark);
  --foreground: var(--neutral-light);
}


  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
  }
}
